@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: beige;
}

html{
    background: #c300ff;
    background: radial-gradient(circle, rgba(195, 0, 255, 1) 0%, rgba(93, 18, 222, 1) 100%);    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#specialClick{
    font-size: 25px;
    background: #eb3897;
    background: radial-gradient(circle,rgba(235, 56, 151, 1) 0%, rgba(237, 33, 74, 1) 100%);    
    padding: 70px;
    border-radius: 50px;
    border-color: black;
}